# Order is important. The last matching pattern has the most precedence.

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @neilyio
/pg_analytics/                                                 @rebasedming @sardination
/pg_bm25/                                                      @rebasedming @neilyio
/pg_sparse/                                                    @rebasedming @sardination
/shared/                                                       @rebasedming @neilyio
/tokenizers/                                                   @rebasedming @neilyio
