# Order is important. The last matching pattern has the most precedence.

/.github/                                                      @philippemnoel
/conf/                                                         @philippemnoel
/docker/                                                       @philippemnoel
/docs/                                                         @rebasedming
/pg_bm25/                                                      @rebasedming @mauaraujo
/pg_search/                                                    @rebasedming @mauaraujo
/scripts/                                                      @philippemnoel
