# NOTE: Dependabot is disabled on enterprise, because all updates should land in community first.

# version: 2

# updates:
#   - package-ecosystem: "github-actions"
#     directory: "/"
#     schedule:
#       interval: "monthly"
#     ignore:
#       - dependency-name: "*"
#         update-types: ["version-update:semver-patch"]
#     groups:
#       github-actions-dependencies:
#         patterns:
#           - "*"

#   - package-ecosystem: "docker"
#     directory: "/docker"
#     schedule:
#       interval: "monthly"
#     ignore:
#       - dependency-name: "*"
#         update-types: ["version-update:semver-patch"]
#     groups:
#       docker-dependencies:
#         patterns:
#           - "*"

#   - package-ecosystem: "cargo"
#     directory: "/pg_search"
#     schedule:
#       interval: "monthly"
#     ignore:
#       - dependency-name: "*"
#         update-types: ["version-update:semver-patch"]
#     groups:
#       pg_search-dependencies:
#         patterns:
#           - "*"

#   - package-ecosystem: "cargo"
#     directory: "/tokenizers"
#     schedule:
#       interval: "monthly"
#     ignore:
#       - dependency-name: "*"
#         update-types: ["version-update:semver-patch"]
#     groups:
#       tokenizers-dependencies:
#         patterns:
#           - "*"
