[submodule "submodules/opensearch-py"]
	path = submodules/opensearch-py
	url = https://github.com/getretake/opensearch-py
[submodule "submodules/opensearch-js"]
	path = submodules/opensearch-js
	url = https://github.com/getretake/opensearch-js
