default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "dev"]
      - id: mixed-line-ending
      - id: end-of-file-fixer
        exclude: '(\.sql|\.out|\.rs)$'
      - id: trailing-whitespace
        exclude: '(\.sql|\.out|\.rs)$'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-ast
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: debug-statements
      - id: destroyed-symlinks
      - id: fix-encoding-pragma
      - id: fix-byte-order-marker
      - id: requirements-txt-fixer

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ["-i", "2", "-ci"]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/kaechele/pre-commit-mirror-prettier
    rev: v3.8.1
    hooks:
      - id: prettier

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          ["--workspace", "--all-targets", "--", "-D", "warnings", "--no-deps"]
      - id: cargo-check

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pylint-dev/pylint
    rev: v4.0.4
    hooks:
      - id: pylint

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        files: \.toml$
