**/*.csv
**/*.csv.gz
**/*.json
**/*.parquet
**/*.tbl
**/*.tsv
**/*.tsv.gz
**/*.txt
**/*.zip
/docker/.docker_cache_dev/
/docs/api-reference/getting-started/quickstart.mdx
/docs/api-reference/full-text/fuzzy.mdx
/docs/api-reference/full-text/scoring.mdx
/docs/api-reference/full-text/highlighting.mdx
/docs/api-reference/full-text/joins.mdx
/docs/api-reference/indexing/create_index.mdx
/docs/api-reference/guides/autocomplete.mdx
/docs/api-reference/guides/hybrid.mdx
/docs/api-reference/optimization/joins.mdx
/docs/ingest/datalakes/quickstart.mdx
/pg_search/benchmarks/out/
