/benchmarks/out/
/benchmarks/*_ts.json
/benchmarks/wiki-articles.json
/docker/.docker_cache_dev/
/docker/.docker_cache_local/
/docs/quickstart.mdx
/docs/blog/introducing_bm25.mdx
/docs/search/autocomplete.mdx
/docs/search/fuzzy.mdx
/pg_bm25/target/
/pg_search/pgvector/
/pg_search/target/
/pg_search/test/pgvector/
