[workspace]
resolver = "2"
members = [
  "pg_search",
  "tests",
  "tokenizers",
  "benchmarks",
  "macros",
  "stressgres",
]

[workspace.package]
version = "0.21.6"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.release-with-debug]
inherits = "release"
debug = true

[workspace.dependencies]
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "c73df543d96241a1834f0d4b9d44297dff687d19", features = [
  "columnar-zstd-compression",
  "lz4-compression",
  "quickwit",                  # for sstable support
  "stemmer",
  "stopwords",
], default-features = false }
pgrx = "=0.16.1"
pgrx-tests = "=0.16.1"
tantivy-jieba = "0.17.0"

[patch.crates-io]
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "c73df543d96241a1834f0d4b9d44297dff687d19" }
