[workspace]
resolver = "2"
members = ["pg_search", "tests", "tokenizers", "benchmarks"]

[workspace.package]
version = "0.15.6"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.prof]
inherits = "release"
debug = true
lto = "thin"
codegen-units = 32

[workspace.dependencies]
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "95774868b706123265a1a2cdc6465f78644a8a31", features = [

  "quickwit",        # for sstable support
  "stopwords",
  "lz4-compression",
], default-features = false }
pgrx = "0.13.0"
pgrx-tests = "0.13.0"

[patch.crates-io]
rust_icu_sys = { git = "https://github.com/google/rust_icu.git", rev = "53e98c8" }
lindera = { git = "https://github.com/paradedb/lindera.git", rev = "5db30093bacf7bf9e05f38861b8787d6aae3e7f4" }
