[workspace]
resolver = "2"
members = ["pg_search", "tests", "tokenizers", "benchmarks"]

[workspace.package]
version = "0.15.25"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.prof]
inherits = "release"
debug = true
lto = "thin"
codegen-units = 32

[workspace.dependencies]
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "881344e214d1ac71466986ed2e1f080475d59dc1", features = [
  "quickwit",        # for sstable support
  "stopwords",
  "lz4-compression",
], default-features = false }
pgrx = "=0.14.3"
pgrx-tests = "=0.14.3"
tantivy-jieba = "0.11.0"

[patch.crates-io]
rust_icu_sys = { git = "https://github.com/google/rust_icu.git", rev = "53e98c8" }
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "881344e214d1ac71466986ed2e1f080475d59dc1" }
