[workspace]
resolver = "2"
members = ["pg_search", "tests", "tokenizers", "benchmarks"]

[workspace.package]
version = "0.16.0"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.prof]
inherits = "release"
debug = true
lto = "thin"
codegen-units = 32

[workspace.dependencies]
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "3ffaeb8e0c44e07e03a5d27423eee843bf87a0bc", features = [
  "quickwit",        # for sstable support
  "stopwords",
  "lz4-compression",
], default-features = false }
pgrx = { git = "https://github.com/stuhood/pgrx.git", branch = "stuhood.if-let-for-option-integration" }
pgrx-tests = { git = "https://github.com/stuhood/pgrx.git", package = "pgrx-tests", branch = "stuhood.if-let-for-option-integration" }
tantivy-jieba = "0.11.0"

[patch.crates-io]
rust_icu_sys = { git = "https://github.com/google/rust_icu.git", rev = "53e98c8" }
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "3ffaeb8e0c44e07e03a5d27423eee843bf87a0bc" }
