[workspace]
resolver = "2"
members = [
  "pg_search",
  "tests",
  "tokenizers",
  "benchmarks",
  "macros",
  "stressgres",
]

[workspace.package]
version = "0.21.7"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.release-with-debug]
inherits = "release"
debug = true

[workspace.dependencies]
<<<<<<< HEAD
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "aa5a0e1a3bc48a1f6cdfd1575c6c538897c83813", features = [
=======
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "e4a008758321cb6b5f19e69c442fb7d7c90e3290", features = [
>>>>>>> 44d1f928 (fix: Rebase against Tantivy, inherit upstream bugfix for intersection queries (#4155))
  "columnar-zstd-compression",
  "lz4-compression",
  "quickwit",                  # for sstable support
  "stemmer",
  "stopwords",
], default-features = false }
pgrx = "=0.16.1"
pgrx-tests = "=0.16.1"
tantivy-jieba = "0.17.0"

[patch.crates-io]
<<<<<<< HEAD
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "aa5a0e1a3bc48a1f6cdfd1575c6c538897c83813" }
=======
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "e4a008758321cb6b5f19e69c442fb7d7c90e3290" }
>>>>>>> 44d1f928 (fix: Rebase against Tantivy, inherit upstream bugfix for intersection queries (#4155))
