[workspace]
resolver = "2"
members = ["pg_search", "tests", "tokenizers", "benchmarks", "macros"]

[workspace.package]
version = "0.20.4"
edition = "2021"
license = "AGPL-3.0"

[profile.dev]
panic = "unwind"

[profile.release]
lto = "fat"
panic = "unwind"
opt-level = 3
codegen-units = 1

[profile.release-with-debug]
inherits = "release"
debug = true

[workspace.dependencies]
tantivy = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy", rev = "0e9b40e9e3f1743a15b303d4533be3d207ea3785", features = [
  "quickwit",        # for sstable support
  "stopwords",
  "lz4-compression",
], default-features = false }
pgrx = "=0.16.1"
pgrx-tests = "=0.16.1"
tantivy-jieba = "0.11.0"

[patch.crates-io]
tantivy-tokenizer-api = { git = "https://github.com/paradedb/tantivy.git", package = "tantivy-tokenizer-api", rev = "0e9b40e9e3f1743a15b303d4533be3d207ea3785" }
