# macOS
.DS_Store

# Cargo
Cargo.lock
target/

# Logs
log.txt

# Benchmarks
benchmarks/clickbench/hits.tsv
benchmarks/clickbench/hits.tsv.gz
benchmarks/clickbench/hits005.tsv
benchmarks/clickbench/hits005.tsv.gz
benchmarks/clickbench/hits010.tsv
benchmarks/clickbench/hits010.tsv.gz
