# VS Code
.vscode/

# macOS
.DS_Store

# Cargo
target/
debug/
results/

# Rustfmt
**/*.rs.bk

# Code Coverage
*.profraw

# pg_regress
results/
regression.diffs
regression.out

# PGXN
Makefile
META.json
