apiVersion: v1
kind: Pod
metadata:
  name: stressgres-runner
  labels:
    app: stressgres-runner
spec:
  restartPolicy: Never
  imagePullSecrets:
    - name: dockerhub-secret
  containers:
    - name: stressgres
      image: docker.io/paradedb/stressgres:v0.2.0
      command:
        - sleep
        - infinity
      resources:
        requests:
          cpu: "1000m"
          memory: "2Gi"
        limits:
          cpu: "2000m"
          memory: "4Gi"
