#
# This docker-compose.dev.yml file is for development deployments of ParadeDB only. It directly builds our
# Dockerfile, which has all ParadeDB extensions pre-installed and properly configured. It is not intended for
# production use. For production usage, please use docker-compose.yml.
#

services:
  paradedb-dev:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      cache_from:
        - type=local,src=./.docker_cache_dev
      cache_to:
        - type=local,dest=./.docker_cache_dev
    container_name: paradedb-dev
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
