# VS Code
.vscode/

# macOS
.DS_Store

# Cargo
Cargo.lock
target/

# Rustfmt
*.rs.bk

# Code Coverage
*.profraw

# Logs
*.txt
*.log

# Benchmarks
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.zip
__MACOSX/
TPC-H_V*/

# Tests
regression.*
results/
