[[server]]
name = "WriteHost"
default = true
[server.style.With]
connection_string = "RDS HERE"

[server.setup]
title = "setup"
sql = """
DROP PUBLICATION IF EXISTS test_replication;
DROP TABLE IF EXISTS test;

CREATE TABLE test (
    id SERIAL8 NOT NULL PRIMARY KEY,
    message TEXT,
    country TEXT,
    severity INT
);

CREATE PUBLICATION test_replication FOR TABLE test;

INSERT INTO test (message) SELECT 'find me' FROM generate_series(1, 100);
"""

[server.teardown]
sql = """
DROP PUBLICATION IF EXISTS test_replication;
DROP TABLE IF EXISTS test CASCADE;
"""

[server.monitor]
refresh_ms = 10
title = "Write Host Monitor"
log_columns = ["table_count", "row_count"]
sql = """
SELECT 
    (SELECT count(*) FROM information_schema.tables WHERE table_name = 'test') as table_count,
    (SELECT count(*) FROM test) as row_count
"""

[[server]]
name = "ReadHost"
[server.style.With]
connection_string = "PARADE DB HERE"

[server.setup]
title = "setup"
sql = """
 DROP SUBSCRIPTION IF EXISTS test_subscription;
 DROP TABLE IF EXISTS test;
CREATE EXTENSION IF NOT EXISTS pg_search;

CREATE TABLE test (
    id SERIAL8 NOT NULL PRIMARY KEY,
    message TEXT,
    country TEXT,
    severity INT
);
CREATE SUBSCRIPTION test_subscription CONNECTION '@WriteHost_CONNSTR@' PUBLICATION test_replication;
select pg_sleep(5);
CREATE INDEX idxtest ON test USING bm25 (id, message, country, severity) WITH (key_field = 'id');
"""

[server.teardown]
sql = """
-- Read host teardown
DROP SUBSCRIPTION IF EXISTS test_subscription;
DROP INDEX IF EXISTS idxtest;
DROP TABLE IF EXISTS test;
-- DROP EXTENSION pg_search CASCADE;
"""

[server.monitor]
refresh_ms = 10
title = "Monitor Index Size"
log_columns = ["index_size:MB", "segment_count"]
sql = """
SELECT
    pg_relation_size('idxtest')                                   AS index_size,
    (SELECT COUNT(*)::bigint FROM paradedb.index_info('idxtest')) AS segment_count
"""

[[jobs]]
refresh_ms = 100
title = "Merge Info"
destinations = ["ReadHost"]
log_columns = ["concurrent_merges", "total_possibly_mergeable_segments"]
sql = "SELECT count(distinct pid) as concurrent_merges, count(*) total_possibly_mergeable_segments FROM paradedb.merge_info('idxtest');"

[[jobs]]
refresh_ms = 100
title = "Merging Status"
destinations = ["ReadHost"]
window_height = 10
sql = "SELECT pid, xmin, array_length(array_agg(segno), 1) || ' segments' as merging_segments FROM paradedb.merge_info('idxtest') GROUP BY 1, 2;"

[[jobs]]
refresh_ms = 0
log_tps = true
title = "INSERT 1k rows of up to 1000 words"
destinations = ["WriteHost"]
sql = """
INSERT INTO test (message, country, severity)
SELECT
    'anc',
    (ARRAY['United States', 'Canada', 'Mexico', 'UK', 'Germany'])[floor(random() * 5 + 1)],
    (floor(random() * 10) + 1)::int
FROM generate_series(1, 1000) AS gs;
"""

[[jobs]]
refresh_ms = 0
log_tps = true
title = "INSERT 10 rows of up to 10 words"
destinations = ["WriteHost"]
sql = """
INSERT INTO test (message, country, severity)
SELECT
    'fafda',
    (ARRAY['United States', 'Canada', 'Mexico', 'UK', 'Germany'])[floor(random() * 5 + 1)],
    (floor(random() * 10) + 1)::int
FROM generate_series(1, 10) AS gs;
"""

[[jobs]]
refresh_ms = 0
log_tps = true
title = "INSERT 1 row of up to 800 words"
destinations = ["WriteHost"]
sql = """
INSERT INTO test (message, country, severity)
SELECT
    'faf',
    (ARRAY['United States', 'Canada', 'Mexico', 'UK', 'Germany'])[floor(random() * 5 + 1)],
    (floor(random() * 10) + 1)::int
FROM generate_series(1, 1) AS gs;
"""

[[jobs]]
refresh_ms = 0
log_tps = true
title = "SELECT 100"
destinations = ["ReadHost"]
sql = """
SELECT count(*) FROM test WHERE message @@@ '"find me"'
"""

[[jobs]]
refresh_ms = 0
log_tps = true
title = "Complex Search"
destinations = ["ReadHost"]
sql = """
SELECT count(*) FROM test WHERE message @@@ 'find AND me'
"""
