# VS Code
.vscode/

# macOS
.DS_Store

# Cargo
target/
debug/
results/

# Rustfmt
**/*.rs.bk

# Code Coverage
*.profraw

# pg_regress
test/pgvector/
test/results/
test/regression.diffs
test/regression.out
test/test_logs.log

# pgvector
pgvector/
