[package]
name = "pg_search"
description = "Full text search for PostgreSQL using BM25"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
build = "build.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["pg17"]
pg14 = ["pgrx/pg14", "pgrx-tests/pg14"]
pg15 = ["pgrx/pg15", "pgrx-tests/pg15"]
pg16 = ["pgrx/pg16", "pgrx-tests/pg16"]
pg17 = ["pgrx/pg17", "pgrx-tests/pg17"]
pg_test = []
icu = ["tokenizers/icu"]
unsafe-postgres = ["pgrx/unsafe-postgres"]

[dependencies]
anyhow = { version = "1.0.98", features = ["backtrace"] }
bitpacking = "0.9.2"
chrono = "0.4.41"
derive_more = { version = "2.0.1", features = ["full"] }
env_logger = "0.11.8"
itertools = "0.14.0"
json5 = "0.4.1"
memoffset = "0.9.1"
once_cell = "1.21.3"
parking_lot = "0.12.4"
tokenizers = { path = "../tokenizers" }
pgrx.workspace = true
rustc-hash = "2.1.1"
serde = "1.0.219"
serde_json = { version = "1.0.140", features = ["preserve_order"] }
tantivy.workspace = true
thiserror = "2.0.12"
ordered-float = "5.0.0"
uuid = "1.17.0"
strum = { version = "0.27.1" }
serde_path_to_error = "0.1.17"
bincode = { version = "2.0.1", features = [
  "serde",
  "std",
], default-features = false }
rand = "0.9.1"
proptest = "1.7.0"
tinyvec = "1.9.0"
postcard = { version = "1.1.1", features = [
  "use-std",
], default-features = false }
regex = "1.11.1"

[dev-dependencies]
pgrx-tests.workspace = true
rstest = "0.25.0"

[build-dependencies]
vergen = { version = "9.0.6", features = ["build", "cargo", "rustc", "si"] }
vergen-git2 = "1.0.7"

[package.metadata.cargo-machete]
ignored = ["indexmap", "libc", "tantivy-common"]

[[bin]]
name = "pgrx_embed_pg_search"
path = "./src/bin/pgrx_embed.rs"
