[package]
name = "pg_search"
description = "Full text search for PostgreSQL using BM25"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
build = "build.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["pg17"]
pg14 = ["pgrx/pg14", "pgrx-tests/pg14"]
pg15 = ["pgrx/pg15", "pgrx-tests/pg15"]
pg16 = ["pgrx/pg16", "pgrx-tests/pg16"]
pg17 = ["pgrx/pg17", "pgrx-tests/pg17"]
pg_test = []
icu = ["tokenizers/icu"]
unsafe-postgres = ["pgrx/unsafe-postgres"]

[dependencies]
anyhow = { version = "1.0.96", features = ["backtrace"] }
bitpacking = "0.9.2"
chrono = "0.4.39"
crossbeam = "0.8.4"
derive_more = { version = "2.0.1", features = ["full"] }
itertools = "0.14.0"
json5 = "0.4.1"
memoffset = "0.9.1"
oneshot = "0.1.10"
once_cell = "1.20.3"
parking_lot = "0.12.3"
tokenizers = { path = "../tokenizers" }
pgrx.workspace = true
rayon = "1.10.0"
rustc-hash = "2.1.1"
serde = "1.0.218"
serde_json = { version = "1.0.139", features = ["preserve_order"] }
tantivy.workspace = true
thiserror = "2.0.11"
ordered-float = "5.0.0"
uuid = "1.14.0"
url = "2.5.4"
strum = { version = "0.27.1" }
serde_path_to_error = "0.1.16"
bincode = "1.3.3"

[dev-dependencies]
pgrx-tests.workspace = true
rstest = "0.24.0"

[build-dependencies]
vergen = { version = "9.0.4", features = ["build", "cargo", "rustc", "si"] }
vergen-git2 = "1.0.5"

[package.metadata.cargo-machete]
ignored = ["indexmap", "libc", "tantivy-common"]

[[bin]]
name = "pgrx_embed_pg_search"
path = "./src/bin/pgrx_embed.rs"
