# workflows/benchmark-pg_search.yml
#
# Benchmark pg_search
# Benchmark pg_search performance on a nightly basis. This workflow can also be triggered
# manually to benchmark other systems on one-off basis, to compare against pg_search.

name: Benchmark pg_search

on:
  schedule:
    - cron: "1 0 * * 1,2,3,4,5" # Run once per day on weekdays (days of the week 1-5) at 00:01 UTC
  pull_request:
    branches:
      - dev
      - staging
      - main
    paths:
      - "docker/Dockerfile"
      - "pg_search/Cargo.toml"
      - "pg_search/benchmarks/**"
      - "shared/Cargo.toml"
      - "tokenizers/Cargo.toml"
      - ".github/workflows/benchmark-pg_search.yml"
  workflow_dispatch:
    inputs:
      name:
        description: "Select the system to benchmark"
        default: "pg_search"
        type: choice
        options:
          - pg_search
          - tsquery
          - elasticsearch
          - typesense

concurrency:
  group: benchmark-pg_search-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  benchmark-pg_search:
    name: Benchmark pg_search
    runs-on: ubuntu-latest-m # Size: 4-cores · 16 GB RAM · 150 GB SSD

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Configure System to Benchmark
        id: system
        run: echo "system_to_benchmark=${{ github.event.inputs.name || 'pg_search' }}" >> $GITHUB_OUTPUT

      # The '-t local' tag is used for benchmark-pg_search.sh and ignored by other scripts
      - name: Run Benchmarking Script
        working-directory: pg_search/benchmarks/
        run: ./benchmark-${{ steps.system.outputs.system_to_benchmark }}.sh -t local

      - name: Print Results
        working-directory: pg_search/benchmarks/out/
        run: cat benchmark_${{ steps.system.outputs.system_to_benchmark }}.csv

      - name: Notify Slack on Failure
        if: failure() && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main')
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Benchmark pg_search Workflow failed on ${{ steps.system.outputs.system_to_benchmark }} -- investigate immediately!"}' ${{ secrets.SLACK_WEBHOOK_URL }}
