name: Build Nix package for pg_search

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - 0.*.x # Release branches
  workflow_dispatch:

concurrency:
  group: nix-build-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  nix-build-pg_search:
    name: Build pg_search Package with Nix
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6

      - name: Install Determinate nix
        uses: DeterminateSystems/determinate-nix-action@main

      # This Action uses GitHub Actions' built-in cache to speed up Nix-related CI workflows
      - name: Use Magic Nix Cache Action
        uses: DeterminateSystems/magic-nix-cache-action@main

      # https://nix.dev/manual/nix/latest/command-ref/new-cli/nix3-flake-check
      - name: Run Flake Checks
        run: |
          NIXPKGS_ALLOW_BROKEN=1 nix flake check --impure

      - name: Build All pg_search Packages
        env:
          # This is necessary due to longstanding issues surrounding running Postgres
          # in Nix's tightly controlled sandbox
          NIXPKGS_ALLOW_BROKEN: 1
        run: |
          system=$(nix eval --raw --impure --expr builtins.currentSystem)
          nix flake show --json 2>/dev/null \
            | jq -r --arg s "$system" '.packages[$s] | keys[] | ".#\(.)"' \
            | xargs -L1 nix build --impure

          echo "All pg_search packages built successfully"
