name: Cherry Pick

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  get-branches:
    name: Get Cherry Pick Branches
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.set-branches.outputs.branches }}

    steps:
      - name: Set cherry-pick branches
        id: set-branches
        run: |
          labels='${{ toJSON(github.event.pull_request.labels.*.name) }}'
          branches=$(echo "$labels" | jq -c '[.[] | select(startswith("cherry-pick/")) | sub("cherry-pick/"; "")]')
          echo "branches=${branches}" >> $GITHUB_OUTPUT

  cherry-pick:
    name: Cherry Pick
    needs: [get-branches]
    if: needs.get-branches.outputs.branches != '[]'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: ${{ fromJSON(needs.get-branches.outputs.branches) }}

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}

      - name: Cherry Pick to ${{ matrix.branch }}
        uses: carloscastrojumo/github-cherry-pick-action@v1
        with:
          branch: ${{ matrix.branch }}
          token: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}
          inherit_labels: false
          labels: automated-cherry-pick
