name: Cherry Pick

on:
  # Trigger on pull request closed events targeting main branch, which enables cherry-picks for PRs coming from forks as well
  pull_request_target:
    branches: [main]
    types: [closed]

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    name: Backport (Cherry Pick)
    # Only run when merged AND at least one label contains "cherry-pick/"
    if: >
      github.event.pull_request.merged == true &&
      contains(join(github.event.pull_request.labels.*.name, ','), 'cherry-pick/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}

      - name: Backport based on cherry-pick/<branch> labels
        uses: korthout/backport-action@v4
        with:
          github_token: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}
          # Make the action look for our labels instead of "backport <branch>"
          label_pattern: "^cherry-pick/([^ ]+)$"
          # Label the created PR(s)
          add_labels: automated-cherry-pick
          # Create a draft PR even when cherry-pick conflicts
          experimental: |
            {
              "conflict_resolution": "draft_commit_conflicts"
            }
