# workflows/publish-github-release.yml
#
# Publish GitHub Release
# Publish the ParadeDB GitHub Release. Pushes to `main` publish an official release while
# pushes to `staging` publish a beta release.

name: Publish GitHub Release

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

concurrency:
  group: publish-github-release-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  publish-github-release:
    name: Publish ParadeDB GitHub Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      # We store the GitHub Release version number in GitHub Actions Variables. Since it's
      # not possible for a GHA variable to be negative, we store the version of the next
      # release, to allow 0-indexing. This is why we immediately release the version stored,
      # and increment it after the GitHub release is created.
      - name: Retrieve & Increment Release Version Number
        id: version
        run: |
          if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
            echo 'Using prod configuration...'
            CURRENT_RELEASE_VERSION="${{ vars.VERSION_MAJOR }}.${{ vars.VERSION_MINOR }}.${{ vars.VERSION_PATCH }}"

            # Increment GHA variable version by 0.0.1 for next release
            GHA_VAR_NAME="VERSION_PATCH"
            GHA_VAR_VALUE="$(( ${{ vars.VERSION_PATCH }} + 1 ))"
          elif [[ ${{ github.ref }} == "refs/heads/staging" ]]; then
            echo 'Using staging configuration...'
            CURRENT_RELEASE_VERSION="${{ vars.VERSION_MAJOR }}.${{ vars.VERSION_MINOR }}.${{ vars.VERSION_PATCH }}-rc.${{ vars.VERSION_RC }}"

            # Increment GHA variable version by -rc.1 for next release
            GHA_VAR_NAME="VERSION_RC"
            GHA_VAR_VALUE="$(( ${{ vars.VERSION_RC }} + 1 ))"
          else
            echo "Error: Invalid branch, exiting..."
            exit 1
          fi

          # Output the current release version to create the GitHub Release tag, and the new version to update GitHub Actions variable
          echo "version=${CURRENT_RELEASE_VERSION}" >> $GITHUB_OUTPUT
          echo "gha_var_name=${GHA_VAR_NAME}" >> $GITHUB_OUTPUT
          echo "gha_var_value=${GHA_VAR_VALUE}" >> $GITHUB_OUTPUT

      - name: Update Version Number in GitHub Actions Variables
        env:
          GH_TOKEN: ${{ secrets.GHA_CREATE_RELEASE_PAT }}
        run: |
          # on prod we update patch and reset dev RC to 0
          if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
            gh api \
              --method PATCH \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/paradedb/paradedb/actions/variables/${{ steps.version.outputs.gha_var_name }} \
              -f name='${{ steps.version.outputs.gha_var_name }}' \
              -f value='${{ steps.version.outputs.gha_var_value }}'

            gh api \
              --method PATCH \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/paradedb/paradedb/actions/variables/VERSION_RC \
              -f name='VERSION_RC' \
              -f value='0'
          # on staging we only update RC
          elif [[ ${{ github.ref }} == "refs/heads/staging" ]]; then
            gh api \
              --method PATCH \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/paradedb/paradedb/actions/variables/${{ steps.version.outputs.gha_var_name }} \
              -f name='${{ steps.version.outputs.gha_var_name }}' \
              -f value='${{ steps.version.outputs.gha_var_value }}'
          else
            echo "Error: Invalid branch" && false
          fi

      - name: Create GitHub Release (prod only)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.version.outputs.version }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GHA_CREATE_RELEASE_PAT }}
