# workflows/publish-paradedb-docker.yml
#
# Publish ParadeDB (Docker)
# Publish ParadeDB Enterprise as Docker images for all of our supported PostgreSQL versions to Docker Hub.

name: Publish ParadeDB (Docker)

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: "The version to set for the ParadeDB release. This publishes the latest commit of the chosen branch and tags it with the provided version."
        required: true
        default: ""
      pg_version:
        description: "The Postgres major version(s) to build ParadeDB for. This needs to be a comma-separated list of integers (e.g. [14] or [14, 15, 16, 17, 18])."
        required: true
        default: "[14, 15, 16, 17, 18]"

concurrency:
  group: publish-paradedb-docker-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

# Used by actions/attest-build-provenance to sign the builds
permissions:
  contents: write
  id-token: write
  attestations: write
  contents: write

jobs:
  set-matrix:
    name: Define the PostgreSQL Version Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Define the PostgreSQL Version Matrix
        id: set-matrix
        run: |
          echo "Evaluating tag: $GITHUB_REF"
          if [[ "$GITHUB_REF" == *"-"* ]]; then
            echo "GitHub ref contains a dash. Release candidate tag detected; using only PostgreSQL version 17 and 18."
            echo "matrix=[17, 18]" >> $GITHUB_OUTPUT
          else
            echo "Regular promotion tag detected; using provided PostgreSQL version(s)."
            echo "matrix=${{ github.event.inputs.pg_version || '[14, 15, 16, 17, 18]' }}" >> $GITHUB_OUTPUT
          fi

  publish-paradedb-docker-image:
    name: Publish ParadeDB Docker Image for PostgreSQL ${{ matrix.pg_version }}
    runs-on: ubuntu-latest
    needs: set-matrix
    strategy:
      matrix:
        pg_version: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    env:
      default_pg_version: 18

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}

      - name: Retrieve GitHub Release Version
        id: version
        run: |
          # If no workflow_dispatch version is provided, we use workflow tag trigger version
          if [ -z "${{ github.event.inputs.version }}" ]; then
            if [[ $GITHUB_REF == refs/tags/v* ]]; then
              VERSION=${GITHUB_REF#refs/tags/v}
              TAG=${GITHUB_REF#refs/tags/}
            else
              # If there is no tag and no provided version, it's a test run and we set a default version
              VERSION="0.0.0"
              TAG="v0.0.0"
            fi
          else
            VERSION=${{ github.event.inputs.version }}
            TAG=v${{ github.event.inputs.version }}
          fi
          echo "GitHub Tag Version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "commit_sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Determine if Release Should be Marked as Latest
        id: release_latest
        env:
          GITHUB_TOKEN: ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}
        run: |
          current_tag_version="${{ steps.version.outputs.version }}"
          latest_tag_version=$(gh release list --jq '.[] | select(.isLatest == true) | .name' --json=name,isLatest | sed 's/^v//')
          echo "Current latest release is $latest_tag_version"
          echo "Current version to be released is $current_tag_version"

          echo ""
          echo "Install semver CLI via npm to compare versions..."
          npm install semver

          echo ""
          echo "Comparing versions to determine if we need to mark this release as latest..."
          echo "We should mark as latest if the current version of the tag triggering this workflow is equal to the latest tag found in GitHub Releases."
          if npx semver -r ">=$latest_tag_version" "$current_tag_version"; then
            echo "is_latest=true"
            echo "is_latest=true" >> $GITHUB_OUTPUT
          else
            echo "is_latest=false"
            echo "is_latest=false" >> $GITHUB_OUTPUT
          fi

      # Cross-compilation is incredibly slow, so we use an external service called Depot to
      # speed up container builds for universal images. We could eventually replace this with
      # Docker Build Cloud once they add support for multiple concurrent builders.
      - name: Configure Depot CLI
        uses: depot/setup-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # The pg_version-tag Docker tag syntax is necessary for our CloudNativePG Helm chart. We only deploy
      # the `latest` and `latest-pg` tags on production releases, not for beta releases.
      - name: Setup Docker Image tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: paradedb/paradedb-enterprise
          tags: |
            type=raw,value=${{ matrix.pg_version }}-${{ steps.version.outputs.tag }}
            type=raw,value=${{ steps.version.outputs.tag }}-pg${{ matrix.pg_version }}
            type=raw,value=${{ steps.version.outputs.version }}-pg${{ matrix.pg_version }}
            type=raw,value=${{ steps.version.outputs.tag }},enable=${{ matrix.pg_version == env.default_pg_version }}
            type=raw,value=${{ steps.version.outputs.version }},enable=${{ matrix.pg_version == env.default_pg_version }}
            type=raw,value=latest-pg${{ matrix.pg_version }},enable=${{ steps.release_latest.outputs.is_latest == 'true' && !contains(steps.version.outputs.tag, '-rc.') }}
            type=raw,value=latest,enable=${{ matrix.pg_version == env.default_pg_version && steps.release_latest.outputs.is_latest == 'true' && !contains(steps.version.outputs.tag, '-rc.') }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image to Docker Hub
        id: build-push
        uses: depot/build-push-action@v1
        with:
          context: .
          build-args: |
            PG_VERSION_MAJOR=${{ matrix.pg_version }}
            COMMIT_SHA=${{ steps.version.outputs.commit_sha }}
            PARADEDB_VERSION=${{ steps.version.outputs.version }}
          platforms: linux/amd64,linux/arm64
          file: docker/Dockerfile
          push: true
          sbom: true
          provenance: mode=max
          project: ${{ secrets.DEPOT_PROJECT }}
          token: ${{ secrets.DEPOT_TOKEN }}
          tags: ${{ steps.meta.outputs.tags }}

      # Attestations are not supported for private repositories without a GitHub Enterprise Cloud plan.
      # https://github.com/actions/attest
      # - name: Sign and Attest Build Provenance
      #   uses: actions/attest-build-provenance@v2
      #   with:
      #     subject-name: index.docker.io/paradedb/paradedb-enterprise
      #     subject-digest: ${{ steps.build-push.outputs.digest }}
      #     push-to-registry: true

  # NOTE: In `paradedb/paradedb-enterprise`, we don't publish a Helm Chart, since this is already handled
  # by the open-source project. Our enterprise deployments of the Helm Chart use the same Helm Chart as the
  # open-source project, but fetch the enterprise Docker image from Docker Hub instead of the open-source one.
