# workflows/test-pg_search-antithesis.yml
#
# Test pg_search (Antithesis)
# Build the current commit as a Docker image, push it to Antithesis, and trigger an Antithesis test run.

name: Test pg_search (Antithesis)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - 0.*.x # Release branches
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/test-pg_search-antithesis.yml"
      - "pg_search/**"
      - "!pg_search/README.md"
      - "tests/**"
      - "tokenizers/**"
  workflow_dispatch:

concurrency:
  group: test-pg_search-antithesis-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test-pg_search-antithesis:
    name: Test pg_search via Antithesis
    # TODO: See https://github.com/paradedb/paradedb/issues/3613
    runs-on: ubicloud-standard-8-ubuntu-2204
    strategy:
      matrix:
        pg_version: [18]

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log Into Antithesis Registry
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.ANTITHESIS_REGISTRY_KEY }}

      # The pg_version-tag Docker tag syntax is necessary for our CloudNativePG Helm chart
      - name: Extract Workload Metadata
        id: extract-workload-metadata
        uses: docker/metadata-action@v5
        with:
          images: us-central1-docker.pkg.dev/molten-verve-216720/paradedb-repository/paradedb
          tags: |
            type=raw,value=${{ matrix.pg_version }}-${{ github.sha }}
            type=raw,value=antithesis-latest

      # Antithesis only supports x86_64 instruction set
      # https://antithesis.com/docs/getting_started/setup/?sid=6534.37&sterm=x86&marks=x86#containerize-your-software
      - name: Build and Push Workload Docker Image to Antithesis Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            PG_VERSION_MAJOR=${{ matrix.pg_version }}
            COMMIT_SHA=${{ github.sha }}
            ENABLE_ANTITHESIS_INSTRUMENTATION=true
          platforms: linux/amd64
          file: docker/Dockerfile
          push: true
          tags: ${{ steps.extract-workload-metadata.outputs.tags }}
          labels: ${{ steps.extract-workload-metadata.outputs.labels }}

      # TODO: Need to make it so ParadeDB and Stressgres are not latest yet they don't attempt to pull
      - name: Patch ParadeDB K8s Manifest With Workload Image Tagged With Git SHA
        working-directory: docker/manifests/
        run: |
          sed -i "s|imageName: .*|imageName: us-central1-docker.pkg.dev/molten-verve-216720/paradedb-repository/paradedb:${{ matrix.pg_version }}-0.0.0|" paradedb.yaml
          cat paradedb.yaml

      - name: Extract Config Metadata
        id: extract-config-metadata
        uses: docker/metadata-action@v5
        with:
          images: us-central1-docker.pkg.dev/molten-verve-216720/paradedb-repository/paradedb-config
          tags: |
            type=raw,value=${{ github.sha }}
            type=raw,value=antithesis-latest

      - name: Build and Push Config Docker Image to Antithesis Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          file: docker/Dockerfile.config
          push: true
          tags: ${{ steps.extract-config-metadata.outputs.tags }}
          labels: ${{ steps.extract-config-metadata.outputs.labels }}

      # antithesis.duration is in minutes
      - name: Trigger Antithesis Test
        uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: basic_k8s_test
          tenant: paradedb
          username: ${{ vars.ANTITHESIS_USERNAME }}
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.ANTITHESIS_GITHUB_TOKEN }}
          config_image: us-central1-docker.pkg.dev/molten-verve-216720/paradedb-repository/paradedb-config:${{ github.sha }}
          images: us-central1-docker.pkg.dev/molten-verve-216720/paradedb-repository/paradedb:${{ matrix.pg_version }}-${{ github.sha }}
          description: "[${{ github.repository }}] CI for ${{ github.ref_name }} (commit ${{ github.sha }})"
          email_recipients: developers@paradedb.com
          additional_parameters: |-
            antithesis.duration=${{ github.event.inputs.duration || '10' }}
