# workflows/test-pg_search-docker.yml
#
# Test pg_search (Docker)
# Test building and running the ParadeDB Docker Image using Docker Compose.

name: Test pg_search (Docker)

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - 0.*.x # Release branches
    paths:
      - ".github/workflows/test-pg_search-docker.yml"
      - "docker/**"
      - "pg_search/**"
      - "tokenizers/**"
  workflow_dispatch:

concurrency:
  group: test-pg_search-docker-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test-paradedb:
    name: Test ParadeDB Docker Image
    # TODO: See https://github.com/paradedb/paradedb/issues/3613
    runs-on: ubicloud-standard-8-ubuntu-2204

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v6

      # This step is used to check if the PR author is a member of the org, since
      # access to GitHub Actions secrets is limited to org members.
      - name: Check if PR author is member of org
        id: org-check
        run: |
          echo "Checking if ${{ github.actor }} is a member of the org..."
          result=$(curl -s -o /dev/null -w "%{http_code}" \
            -H "Authorization: token ${{ secrets.PARADEDB_BOT_GITHUB_TOKEN }}" \
            https://api.github.com/orgs/paradedb/members/${{ github.actor }})
          if [ "$result" -eq 204 ]; then
            echo "is_member=true" >> $GITHUB_OUTPUT
            echo "PR author is a member of the org"
          else
            echo "is_member=false" >> $GITHUB_OUTPUT
            echo "PR author is not a member of the org"
          fi

      # To avoid spamming PRs with the Docker Scout comparison, we only run
      # it if the PR modifies the Dockerfile or its related scripts
      - name: Detect Dockerfile Changes
        id: dockerfilter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            docker:
              - 'docker/**'

      # We only login to Docker Hub if the PR author is a member of the org and there
      # are changes to the docker/ directory, since access to GitHub Actions secrets
      # is limited to org members and we only want to compare upcoming release Docker
      # images via Docker Scout when there are changes to the Dockerfile or its related scripts.
      - name: Login to Docker Hub
        if: steps.org-check.outputs.is_member == 'true' && steps.dockerfilter.outputs.docker == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build the ParadeDB Docker Image via Docker Compose
        working-directory: docker/
        run: docker compose -f docker-compose.dev.yml build

      # Start the ParadeDB Docker image using `docker run` to test the standalone Docker image.
      # We add a --tmpfs mount as a test of compatibility with the upstream `postgres` image.
      # The `docker run` command will use the local ParadeDB image that we just built since we
      # tagged it with `latest` in docker-compose.dev.yml.
      - name: Start the ParadeDB Docker Image via Docker Run
        working-directory: docker/
        run: |
          docker run -d \
            --name paradedb \
            -e POSTGRES_USER=myuser \
            -e POSTGRES_PASSWORD=mypassword \
            -e POSTGRES_DB=mydatabase \
            -p 5432:5432 \
            --tmpfs /var/lib/postgresql:size=1G \
            paradedb/paradedb:latest

      # We run the container in detached mode, and grep for the word ERROR to see if it failed to start correctly
      - name: Check for Errors in the ParadeDB Docker Image
        working-directory: docker/
        run: |
          CONTAINER_ID=$(docker ps -aq --filter "name=paradedb")
          CONTAINER_STATUS=$(docker inspect -f '{{.State.Status}}' $CONTAINER_ID)
          echo "paradedb container ID: $CONTAINER_ID"
          echo "Container status: $CONTAINER_STATUS"

          echo ""
          echo "Sleeping 30 seconds to give Postgres the time to fully initialize and run initdb..."
          sleep 30

          echo ""
          echo "Printing logs for the ParadeDB Docker container..."
          docker logs $CONTAINER_ID

          # Fail the run if the container failed to start
          if [ "$CONTAINER_STATUS" = "exited" ]; then
            echo "Error: Container failed to start properly"
            exit 1
          fi

          # Fail the run if there are any Postgres ERRORs in the logs
          if docker logs $CONTAINER_ID | grep -q ERROR; then
            echo "Error: ParadeDB Docker container logs contain an error"
            exit 1
          fi

      # Useful for debugging discrepancies between local and remote ParadeDB Docker images
      - name: Print the ParadeDB Docker Image History
        run: docker history paradedb/paradedb:latest

      - name: Print the ParadeDB Docker Image Permissions
        run: |
          docker run --name temp-inspect-paradedb --entrypoint /bin/bash paradedb/paradedb:latest -c "ls -la /var/lib/postgresql"
          docker rm temp-inspect-paradedb

      - name: Compare the ParadeDB Docker Image to the ParadeDB Docker Image in Docker Hub via Docker Scout
        if: steps.org-check.outputs.is_member == 'true' && steps.dockerfilter.outputs.docker == 'true'
        uses: docker/scout-action@v1
        with:
          command: compare
          image: paradedb/paradedb:latest # Local ParadeDB Docker Image
          to-env: production # Docker Hub ParadeDB Docker Image
          organization: paradedb
          ignore-unchanged: true
          only-severities: critical,high
          github-token: ${{ secrets.GITHUB_TOKEN }}
