# workflows/test-pg_search-stressgres.yml
#
# Test pg_search Stressgres
# Run the Stressgres stress testing against pg_search.

name: Test pg_search Stressgres

on:
  schedule:
    - cron: "1 0 * * 1,2,3,4,5" # Run once per day on weekdays (days of the week 1-5) at 00:01 UTC
  push:
    branches: # Also run on `dev` and `main` to fill the GitHub Actions Rust cache in a way that PRs can see it
      - dev
      - main
    paths:
      - ".github/workflows/test-pg_search-stressgres.yml"
      - "**/*.rs"
      - "**/*.toml"
      - "**/stressgres/*.toml"
  workflow_dispatch:

jobs:
  test-pg_search-stressgres:
    name: Run Stressgres on pg_search with PostgreSQL ${{ matrix.pg_version }} for ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ubicloud-standard-8
            pg_version: 17
            arch: amd64
    env:
      default_pg_version: 17

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4
        with:
          path: paradedb

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Extract pgrx Version
        id: pgrx
        working-directory: paradedb/pg_search/
        run: |
          version=$(cargo tree --depth 1 -i pgrx -p pg_search | head -n 1 | sed -E 's/.*v([0-9]+\.[0-9]+\.[0-9]+).*/\1/')
          echo "version=$version" >> $GITHUB_OUTPUT

      # Caches from base branches are available to PRs, but not across unrelated branches, so we only
      # save the cache on the 'dev' branch, but load it on all branches.
      - name: Install Rust Cache
        uses: swatinem/rust-cache@v2
        with:
          prefix-key: "v1-rust"
          key: ${{ matrix.pg_version }}-${{ steps.pgrx.outputs.version }}
          cache-targets: true
          cache-all-crates: true
          save-if: ${{ github.ref == 'refs/heads/dev' }}

      - name: Install required system tools
        run: sudo apt-get update && sudo apt-get install -y lsof

      - name: Install llvm-tools-preview
        run: rustup component add llvm-tools-preview

      - name: Install & Configure Supported PostgreSQL Version
        run: |
          # Stop any existing PostgreSQL clusters
          if [[ ! "${{ matrix.pg_version }}" == "14" ]]; then
            sudo pg_dropcluster 14 main --stop
          fi

          # Install PostgreSQL
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update && sudo apt-get install -y postgresql-${{ matrix.pg_version }} postgresql-server-dev-${{ matrix.pg_version }}
          sudo chown -R $(whoami) /usr/share/postgresql/${{ matrix.pg_version }}/ /usr/lib/postgresql/${{ matrix.pg_version }}/ /var/lib/postgresql/${{ matrix.pg_version }}/
          echo "/usr/lib/postgresql/${{ matrix.pg_version }}/bin" >> $GITHUB_PATH

      - name: Install cargo-pgrx
        run: cargo install -j $(nproc) --locked cargo-pgrx --version ${{ steps.pgrx.outputs.version }} --debug

      - name: Initialize cargo-pgrx environment
        run: cargo pgrx init --pg${{ matrix.pg_version }}=`which pg_config`

      - name: Checkout Stressgres Repo
        uses: actions/checkout@v4
        with:
          repository: paradedb/stressgres
          path: stressgres
          token: ${{ secrets.GHA_CREATE_RELEASE_PAT }}

      - name: Compile & install pg_search extension
        working-directory: paradedb/pg_search/
        run: cargo pgrx install --jobs $(nproc) --sudo --release --pg-config `which pg_config` --features=pg${{ matrix.pg_version }},icu --no-default-features

      - name: Run Stressgres Test Suite for 10 minutes
        working-directory: stressgres/
        run: |
          sudo chmod a+rwx /var/run/postgresql/ && \
          cargo run --release -- auto \
          --log-path stressgres.log \
          --runtime 600000 \
          `which pg_config` \
          /home/runner/work/paradedb/paradedb/paradedb/.github/stressgres/single-server.toml \
          /tmp/stressgres

      - name: Create Stressgres Graph
        working-directory: stressgres/
        run: cargo run --release -- graph --output stressgres.png stressgres.log

      - name: Upload Stressgres Graph
        id: artifact-graph
        uses: actions/upload-artifact@v4
        with:
          name: stressgres-graph
          path: stressgres/stressgres.png

      - name: Upload Stressgres Logs
        id: artifact-logs
        uses: actions/upload-artifact@v4
        with:
          name: stressgres-logs
          path: stressgres/stressgres.log

      - name: Derive Short Commit
        id: commit_info
        run: |
          short_commit=$(echo "${GITHUB_SHA}" | cut -c1-7)
          echo "short_commit=$short_commit" >> $GITHUB_OUTPUT

      - name: Upload Stressgres Graph to Slack
        uses: slackapi/slack-github-action@v2.0.0
        id: upload_stressgres_image
        with:
          method: files.uploadV2
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          payload: |
            channel_id: ${{ secrets.SLACK_GITHUB_CHANNEL_ID }}
            initial_comment: |
              *Community Stressgres Results*
              <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ steps.commit_info.outputs.short_commit }}> | <${{ steps.artifact-logs.outputs.artifact-url }} | Download Logs>
            file: "stressgres/stressgres.png"
            filename: "stressgres.png"
            request_file_info: true
          errors: true
          payload-templated: false
          retries: 5

      - name: Notify Slack on Failure
        if: failure() && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main')
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          GITHUB_RUN_URL="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          ARTIFACT_URL="${{ steps.artifact-logs.outputs.artifact-url }}"
          MESSAGE="Stressgres pg_search Workflow failed in \`paradedb/paradedb-enterprise\` -- investigate immediately! • GitHub Action Logs: ${GITHUB_RUN_URL} • Stressgres Log: ${ARTIFACT_URL}" echo "Sending failure notification to Slack..."
          curl -X POST -H 'Content-type: application/json' \
          --data "{\"text\": \"${MESSAGE}\"}" \
          ${SLACK_WEBHOOK_URL}

      - name: Print Postgres Logs
        run: cat /tmp/stressgres/stressgres/primary.log
